---
const today = new Date();
---

<footer>
	<div>© {today.getFullYear()} Hojin Jang. All rights reserved.</div>
	<div class="meta">
		<a href="https://github.com/ideagoras/memoir" target="_blank" rel="noreferrer">GitHub</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.meta {
		margin-top: 0.75em;
	}
	.meta a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.meta a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
